<div class="contents row">
  <%= form_for @tweet do |f| %>
    <h3>
      編集する
    </h3>
    <div style="margin: 8px 0"> 
      <%= f.label "name"%>
      <%= f.text_field :name,style: 'width: 80%';  %>
    </div>
    <div style="margin: 8px 0"> 
      <%= f.label "tweet"%>
      <%= f.text_area :text, style: 'width: 80%'; %> 
    </div>
    <%= f.submit "Send"%> 
  <% end %>
</div>